@font-face {
	font-family: "main-iconfont";
	src: url('../assets/fonts/icons/main-iconfont.eot');
	src: url('../assets/fonts/icons/main-iconfont.eot?#iefix') format('eot'),
		url('../assets/fonts/icons/main-iconfont.woff') format('woff'),
		url('../assets/fonts/icons/main-iconfont.ttf') format('truetype');
}

.icon:before {
    display: inline-block;
	font-family: "main-iconfont";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	opacity: 1;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.icons-loading .icon:before {
	opacity: 0;
}


.icon-check:before {
	content: "\EA01";
}

.icon-close:before {
	content: "\EA02";
}

.icon-error:before {
	content: "\EA03";
}

.icon-facebook:before {
	content: "\EA04";
}

.icon-github:before {
	content: "\EA05";
}

.icon-linkedin:before {
	content: "\EA06";
}

.icon-read-more:before {
	content: "\EA07";
}

.icon-twitter:before {
	content: "\EA08";
}



@mixin dior-icon($icon) {

	
	 @if  ($icon == "check") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA01";
	}
	
	@else if ($icon == "close") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA02";
	}
	
	@else if ($icon == "error") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA03";
	}
	
	@else if ($icon == "facebook") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA04";
	}
	
	@else if ($icon == "github") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA05";
	}
	
	@else if ($icon == "linkedin") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA06";
	}
	
	@else if ($icon == "read-more") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA07";
	}
	
	@else if ($icon == "twitter") {
		-webkit-font-smoothing: antialiased;
		font-family: "main-iconfont";
		content: "\EA08";
	}
	
}