@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

$font:        'Quicksand', sans-serif;
$font-title:  'Source Sans Pro', sans-serif;
$font-size:	  15px;

$black: 	  #242322;
$grey:		  #494949;
$purple: 	  #9854f1;
$purple-dark: #17182D;
$blue:		  #3e528f;


