@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

$font:        'Quicksand', sans-serif;
$font-title:  'Source Sans Pro', sans-serif;
$font-size:	  15px;
$max-width:   1400px;

$black: 	  #242322;
$grey:		  #494949;
$grey-light:  #D3D3D3;
$purple: 	  #9854f1;
$purple-dark: #17182D;
$blue:		  #3e528f;


// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
	  -webkit-transition: $attr $time $curve;
	  -moz-transition: $attr $time $curve;
	  -o-transition: $attr $time $curve;
	  -ms-transition: $attr $time $curve;
	  transition: $attr $time $curve;
}