@import 'compass/css3';
@import 'reset';
@import 'vars';
@import 'hover';
@import 'animations';


.main-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    z-index: 20;
    /*transition: all 1s; */
    border-bottom: 1px solid transparent;

    &.fixy {
        top: -61px;
        position: fixed; 
        background: white;
        -webkit-transition: all 1s;
        transition: all 1s; 
        border-bottom: 1px solid $grey-light;
        &.active {
            top: 0px !important;
            -webkit-transition: all 1s;
            transition: all 1s; 
        }
        
        .pitipoulpe {        
            a {
                color: $purple;                      
            }  
            svg path,
            svg polygon,
            svg circle {
                fill: $purple !important;
            }
        } 
        ul li a {
            color: $purple;
        }    
    }
    
    .pitipoulpe {
        float: left;
        width: 33.33%;

        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-family: $font-title;
            font-weight: 300;
            font-size: 15px;            
        }

        svg {
            max-width: 50px;
            margin-top: 10px;
            margin-left: 30px;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    ul {
        float: right;
        height: 100%;
        width: 60%;
        font-size: 0;
        text-align: right;
        margin-right: 30px;

        li {
            display: inline-block;
            font-size: 15px; 
            vertical-align: middle;
            margin: 0 15px;
            height: 100%;
            line-height: 60px;

            a {
                color: white;
                text-transform: uppercase;
                font-family: $font-title;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }
}
.preview {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
.container {
    max-width: $max-width;
    margin: 0 auto;
}
.intro {
    height: 100vh;
    width: 100vw;    
    position: relative;
    overflow: hidden;
    background: #1B2137;
    
    .main-bg {
        height: 100vh;
        width: 100vw;
        background: url(../img/main-bg-min.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    } 

    img {
        max-width: 250px;
        height: auto;
        margin: 90px 0 70px 0;
    }

    h1 {
        font-family: $font-title;
        font-weight: 300;
        color: white;
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }
    h2 {
        font-family: $font-title;
        font-weight: 300;
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
    }
    .content-logo {
        height: 500px;
        width: 400px;
        position: absolute;
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
        bottom: 50px;
        background: rgba(255, 255, 255, 0.03);
        -o-box-shadow: 0px 20px 100px 20px #242322;
        box-shadow: 0px 20px 100px 20px #242322;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#242322, Direction=180, Strength=100);

        .gradient {
            background: -webkit-linear-gradient(285deg, rgba(152, 84, 241, 1), rgba(62, 82, 143, 0.3));
            background: -webkit-linear-gradient(75deg, rgba(152, 84, 241, 1), rgba(62, 82, 143, 0.3));
            background: linear-gradient(15deg, rgba(152, 84, 241, 1), rgba(62, 82, 143, 0.3));
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;

            svg {
                max-width: 250px;
                height: auto;
                margin: 90px 0 70px 0;
            }
            svg path,
            svg polygon {
              fill-opacity: 0;
              fill: #fff !important;
              stroke: #fff;
              stroke-width: 0;
               stroke-dasharray:4350;
                stroke-dashoffset: 4350;
              -webkit-animation-name: draw;
                      animation-name: draw;
              -webkit-animation-duration: 3s;
                      animation-duration: 3s;
              -webkit-animation-iteration-count: 1;
                      animation-iteration-count: 1;
              -webkit-animation-fill-mode: forwards;
                      animation-fill-mode: forwards;
              -webkit-animation-timing-function: linear;
                      animation-timing-function: linear;
            }
            svg path,
            svg polygon {
              -webkit-animation-delay: 0.5s;
                      animation-delay: 0.5s;
            }            
        }
    }


    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 1px;
        height: 50px;
        left: 50%;
        background: white;
    }
}

.about {
    min-height: 100vh;
    width: 100%;
    font-family: $font;
    color: $grey;

    .row {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        font-size: 0;
        height: 100vh;
        line-height: 100vh;

        .col-6{
            display: inline-block;
            width: 50%;
            font-size: $font-size;
            vertical-align: middle;
        }

        .col-4 {
            display: inline-block;
            width: 33.33%;
            font-size: $font-size;
            vertical-align: top;
            padding: 0 30px;
            box-sizing: border-box;
        }

        .col-12 {
            display: block;
        }

        .panel {
            max-width: 500px;
            padding: 0 20px;
            position: relative;
            margin: 0 auto;

            &.border-left:after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 4px;
                background: $purple;
            }
        }
    }

    h1 {
        font-size: 70px;
        text-transform: uppercase;
        text-align: right;
        font-weight: 300;
        font-family: $font-title;
        margin-bottom: 40px;
        line-height: 40px; 
    }
    p {
        text-align: right;
        font-family: $font-title;
        font-size: $font-size;
        line-height: 20px;
        margin: 20px 0; 

        a, strong, span {
            padding: 0;
        }
    }

    .slider {
        overflow: hidden;
        height: 400px;
        width: 300px;
        margin: 0 auto ;
        position: relative;

        ul {
            height: 400px;
            position: absolute;
            font-size: 0;
            line-height: 100%;

            li {
                font-size: inherit;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                height: 100%;
                line-height: 100%;
                visibility: hidden;

                &.active {
                    visibility: visible;

                    svg path,
                    svg polygon {
                        fill-opacity: 0;
                        fill: $purple !important;
                        stroke: $purple;
                        stroke-width: 0;
                        stroke-dasharray:2350;
                        stroke-dashoffset: 2350;
                        -webkit-animation-name: drawSlider;
                        animation-name: drawSlider;
                        -webkit-animation-duration: 2s;
                        animation-duration: 2s;
                        -webkit-animation-iteration-count: 1;
                        animation-iteration-count: 1;
                        -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                        -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                    }
                }

                a {
                    vertical-align: middle;
                    display: inline-block;
                    height: 100%;
                    line-height: 100%;
                }

                svg {
                    width: 300px;
                    vertical-align: middle;
                    display: inline-block;
                    height: 100%;
                }
            }
        }
    }

    .competences {
        line-height: normal;
        height: 85vh;

        h1 {
            margin-right: 10%;
        }
        .col-4 {
            position: relative;
            height: 340px;
            max-height: 340px;

            &:before {
                content: attr(data-title);
                color: $grey-light;
                position: absolute;
                font-family: $font;
                font-weight: 700;
                text-align: right;
                text-transform: uppercase;
                top: 0px;
                left: -46%;
                -webkit-transform: rotate(-90deg) translateX(-42%);
                        transform: rotate(-90deg) translateX(-42%);
                display: block;
                height: 70px;
                line-height: 70px;
                width: 100%;
                font-size: 35px;
            }

        }

        .comp-content {
            margin-bottom: 15px;
            position: relative;
        }
        .comp-cat {

        }
        .comp-title {
            margin-bottom: 5px;
            display: block;
        }
        .persent-content {
            background: $grey-light;
            width: 100%;
            max-width: 100%;
            position: relative;
            height: 8px;            
        }
        .percent {
            background: $purple;
            width: 10px;
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;  
            -webkit-transition: width 1.4s;  
            transition: width 1.4s; 
        }
    }
}

#portfolio {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .band {
        height: 200px;
        width: 100%;
        transition: all 1s;
        background: $purple;
        position: relative;

        &.band-left {
            left: -100%;
        }
        &.band-right {
            right: -100%;
        }
    }

    .prePortfolio {
        position: absolute;
        height: 90vh; 
        //background: white; 
        width: 90vw;
        max-width: $max-width;
        margin: 5vh 5vw;
        left: 0; 
        top: 0; 

        h1 {
            font-size: 70px;
            text-transform: uppercase;
            text-align: left;
            font-weight: 300;
            color: white; 
            font-family: $font-title;
            margin-bottom: 40px;
            line-height: 40px;  
        }

    }
}

.tilter {
    display: block;
    position: relative;
    width: 300px;
    height: 415px;
    margin: 1.5em 2.5em;
    color: #fff;
    flex: none;
    perspective: 1000px;
}

.tilter * {
    pointer-events: none;
}

.tilter:hover,
.tilter:focus {
    color: #fff;
    outline: none;
}

.tilter__figure,
.tilter__image {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.tilter__figure > * {
    transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
    transition: transform 0.2s ease-out;
}

.tilter__figure {
    position: relative;
}

.tilter__figure::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
}

.tilter__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4em;
}

.tilter__title {
    margin: 0;
    font-weight: normal;
    font-size: 2.5em;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
}

.tilter__description {
    margin: 1em 0 0 0;
    font-size: 0.85em;
    letter-spacing: 0.15em;
}
.tilter--5 .tilter__deco--lines path {
    stroke-dasharray: 1270;
    stroke-dashoffset: 1270;
    transition: stroke-dashoffset 0.7s;
}

.tilter--5:hover .tilter__deco--lines path {
    stroke-dashoffset: 0;
}

.tilter--5 .tilter__figure::before {
    box-shadow: none;
}

#contact {
    height: 100vh;
}

.purple {
    color: $purple; 
}